:root{
  --black: black;
  --white: #ffffff;
  --offwhite: #F0EBD8;
  --bg: #0F1B35;
  --lightbg: #1D2D44;
  --darkestblue: #09101E;
  --lightestblue: #748CAB;
}

body {
  margin: 0;

  background-color: var(--bg);
  font-family: 'Nunito', sans-serif;
  color: var(--offwhite);
}

::-webkit-scrollbar {
  display: none;
}

/* scroll button and hover */
.down-button .button-image {
  height: 10vh;
  transition: all 0.25s ease;
}

.down-button {
display: flex;
justify-content: center;
align-items: center;

background-color: var(--darkestblue);
border: 0.5vw solid var(--lightestblue);
box-sizing: border-box;
width: 17vh;
height: 17vh;
border-radius: 50%;
transition: all 0.25s ease;
}

.down-button:hover {
  background-color: var(--lightbg);
  border-color: var(--offwhite);
  cursor: pointer;
}

.down-button:hover .button-image{
  height: 12vh;
}

.name-1 {
  width: 120vw;
  border-bottom: 0.5vw solid var(--lightestblue);
}


.name-3 {
  width: 120vw;
  border-top: 0.5vw solid var(--lightestblue);
  margin-bottom: 0;
  padding-bottom: 0;
}

/* page 2 */
/* page buttons */
.page-button {
  color: var(--offwhite);
  height: 25vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  transition: all ease 0.5s;
  font-family: 'Nunito', sans-serif;
}

.page-button.expanded {
  background-color: var(--lightbg);
  cursor: pointer;
  height: 50vh;
}


/* unmoving circles */
.up-button-div {
  position: absolute;
  transform: translate(0, 4vh);
}

.up-button .button-image {
  height: 10vh;
  transition: all 0.25s ease;
  transform: rotate(180deg);
}

.up-button {
display: flex;
justify-content: center;
align-items: center;

background-color: var(--darkestblue);
border: 0.5vw solid var(--lightestblue);
box-sizing: border-box;
width: 17vh;
height: 17vh;
border-radius: 50%;
transition: all 0.25s ease;
}

.up-button:hover {
  background-color: var(--lightbg);
  border-color: var(--offwhite);
  cursor: pointer;
}

.up-button:hover .button-image{
  height: 12vh;
}


.profile-picture {
  position: absolute;
  transform: translate(-50%, 29vh);
  width: 17vh;
  height: 17vh;
  border-radius: 50%;
}