:root{
  --black: black;
  --white: #ffffff;
  --offwhite: #F0EBD8;
  --bg: #0F1B35;
  --lightbg: #1D2D44;
  --darkestblue: #09101E;
  --lightestblue: #748CAB;
}

body {
  margin: 0;

  background-color: var(--bg);
  font-family: 'Nunito', sans-serif;
  color: var(--offwhite);  
}

::-webkit-scrollbar {
  width: 0px;
}

/* scroll button and hover */
.down-button .button-image {
  width: 5.5vw;
  transition: width 0.25s ease;
}

.down-button {
display: flex;
justify-content: center;
align-items: center;

background-color: var(--darkestblue);
border: 0.5vw solid var(--lightestblue);
box-sizing: border-box;
width: 10vw;
height: 10vw;
border-radius: 50%;
transition: all 0.25s ease;
}

.down-button:hover {
  background-color: var(--lightbg);
  border-color: var(--offwhite);
  cursor: pointer;
}

.down-button:hover .button-image{
  width: 6.5vw;
}

.name-1 {
  width: 120vw;
  border-bottom: 0.5vw solid var(--lightestblue);
}


.name-3 {
  width: 120vw;
  border-top: 0.5vw solid var(--lightestblue);
  margin-bottom: 0;
  padding-bottom: 0;
}

/* page 2 */

.page-button {
  color: var(--offwhite);
  height: 25vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  transition: all ease 0.5s;
}

.page-button:hover {
  background-color: var(--lightbg);
  cursor: pointer;
  height: 50vh;
}